/nbproject/private/
/build/
/dist/
*.properties
nbproject/project.properties
nbproject/jfx-impl.xml
nbproject/jfx-impl_backup.xml
nbproject/UPDATED.TXT
nbproject/project.properties
nbproject/project.properties
accounts.csv
citizens/2019-04-02-1234.ser
nbproject/jfx-impl.xml
nbproject/jfx-impl_backup_1.xml
persons/d34db684-e311-4f24-8a76-4fdeac032613.ser
nbproject/jfx-impl.xml
nbproject/jfx-impl_backup_1.xml
persons/63812280-be1b-429e-a23a-739155c9c954.ser
citizens/2019-04-01-1234.ser
