/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-03-2019, 22:41:53
    Author     : Benjamin Staugaard | Benz56
*/

* {
    -fx-text-fill: #43A047;
    -fx-prompt-text-fill: #BFBFBF;
}

.glyph-icon {
    -fx-fill: -fx-text-fill;
}

.jfx-combo-box .input-line {
    -fx-background-color: -fx-prompt-text-fill;
}

.jfx-date-picker .input-line {
    -fx-background-color: -fx-prompt-text-fill;
}
.jfx-date-picker .input-focused-line {
    -fx-background-color: -fx-text-fill;
}